/* Tags */

h5 > a, p {
  margin: 0px;
  margin-left: 8px;
  display: inline;
  color: #FFFFFF;
  text-decoration: none;
}

h5 > a:hover {
  color: #003554 !important;
}

h5 > p:hover {
  color: #003554 !important;
}

h5 {
  font-size: 1rem;
}

/* Classes */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container {
  position: absolute
}

.image-container > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  z-index: -1;
}

.carousel-item {
  background-color: skyblue;
  height: 200px;
}

.carousel-caption > p {
  color: #003554 !important;
  font-weight: bold;
}

.carousel-caption > h1 {
  color: #996515 !important;
}

.col-lg-5 > h1 {
  color: whitesmoke !important;
  margin-top: 30%;
  font-size: 45px;
}

.col-lg-5 > p {
  color: white !important;
}

.col-lg-5 {
  margin-left: 25%;
}

#secondary-image {
  width: 65%;
  height: auto;
  padding-top: 225px;
}

.carousel-card {
  position: relative;
  background-color: red;
}

@media only screen and (max-width: 450px) {
  .col-lg-5 > h1 {
    padding-top: 50px;
    font-size: 40px;
  }
}

.ft-items {
  margin: 4px 0px;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}

.ft-icon {
  width: red;
}

/*  IDs */

#copyright {
  font-size: 0.75rem;
}

