.navbar {
    padding: 5px 40px 5px;
    background-color: skyblue;
    color: skyblue;
    /* #AFDCEB */
}

.nav-item {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link {
    color: #003554 !important;
}