@tailwind base;
@tailwind components;
@tailwind utilities;

.header-img {
    height: 120px;
    width: auto;
}

.header-div > p {
    color: var(--dark-green);
}

.badge {
    height: fit-content !important;
}

.badge-outline {
    color: var(--dark-green) !important;
    border-width: 0.25rem !important;
}

.bottom-nav{
    background-color: var(--light-green);
}
