@tailwind base;
@tailwind components;
@tailwind utilities;

#mission {
    background-color: var(--gray);
}

#missionTitle {
    color: var(--dark-green);
}

#missionContent {
    color: black;
}

#optometryPartner {
    background-color: var(--beige);
}

#optometryPartnerText {
    color: var(--dark-green);
    text-align: center;
}

#serviceCards {
    background-color: var(--gray);
}

#visitUs {
    background-color: var(--dark-green);
    position: relative;
  }

  #visitUsText {
    color: white;
    text-align: center;
    margin: auto;
  }

  #visitUsImage {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 20;
  }

  #visitUsImage img {
    height: 90%;
    width: calc(100vw*(772/1512));
    transform: translate(94%, -10%);

  }

.cardTitle, .cardText {
    color: var(--dark-green);
}

.cardButtons {
    background-color: var(--dark-green);
    color: white;
    font-family: poppins;
}
